<!DOCTYPE html>
{% extends 'index.html' %}

<html lang="en">

    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon"
        href="https://play-lh.googleusercontent.com/-Qm8n0wsyBn_0tdMtivoYJUZ9mBlNLi5KAnHPoJ7I5_goMJYo-G-x0E--9ENcQPuRx9S">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>NutrifyMe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Licorice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="/static/AboutUs.css">
    {% endblock head %}
    {% block main %}

    <div class="bg-white rounded-3xl mx-48 my-1 h-auto px-9">
        <div class="mr-8 font-medium font-serif text-xl">
            <div class="section pt-10 mb-0">
                <div class="container ">
                    <div class="content-section">
                        <div class="title">
                            <h1 class="font-semibold text-4xl">About Us</h1>
                        </div>
                        <div class="content">
                            <h2>Looking for your nutritional guidance?You are in right place</h2>
                            <p>NutrifyMe is your one stop for all things nutrition. So, if you’re an athlete looking for
                                that extra edge, or a person seeking nutritional advice for a medical condition, or
                                simply
                                someone who wants to make a meaningful change in their food habits and lifestyle – we’ve
                                got you
                                covered!</p>
                            <p>A quote that inspires us is “Following a healthy lifestyle and nutrition is not something
                                you do
                                just to add years to your life, but to add life to your years”.So our main motto is:</p>
                            <h3>"One step to your health"</h3>
                            <div class="button pt-3 pb-4">
                                <a href="">Read More</a>
                            </div>
                        </div>
                        <div class="social py-6">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="image-section">
                        <img
                            src="https://cdn.shopify.com/s/files/1/0463/4463/4520/files/logo-black.png?height=628&pad_color=fff&v=1598978273&width=1200">
                    </div>
                </div>
            </div>
            {% endblock main %}